[Desktop Entry]
Type=Application
Exec=/etc/batleth/make.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[pl]=batleth
Name=batleth
Comment[pl]=
Comment=
